.pageheader {
  padding: 40px;
  padding-top: 60px;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.actions {
  margin-top: 20px;
}
.search {
  margin-top: 20px;
}

.searchInput {
  display: flex;
  background-color: white;
  max-width: 500px;
  border-radius: 50px;
  padding: 0 10px;
  align-items: center;
  overflow: hidden;
  border: 1px solid #adadad;
}

.searchInput input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  margin-left: 10px;
  background-color: transparent;
  outline: none;
  border: none;
}
