.select {
}

.select select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
  outline: none;
  font-size: 1rem;
}

.select label {
  margin-bottom: 5px;
}
.select small {
  margin-top: 5px;
}

.select label small {
  margin-left: 5px;
  color: red;
}
